.events .card {
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
  }
  
  .events .card-img {
    width: calc(100% + 60px);
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
  }
  
  .events .card-img img {
    max-width: 100%;
    transition: all 0.5s ease-in-out;
  }
  
  .events .card-body {
    z-index: 10;
    background: #fff;
    border-top: 4px solid #fff;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
    transition: 0.3s;
  }
  
  .events .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .events .card-title a {
    color: #37423b;
    transition: 0.3s;
  }
  
  .events .card-text {
    color: #5e5e5e;
  }
  
  .events .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
  }
  
  .events .read-more a:hover {
    color: #951B8A;
  }
  
  .events .card:hover img {
    transform: scale(1.2);
  }
  
  .events .card:hover .card-body {
    border-color: #951B8A;
  }
  
  .events .card:hover .card-body .card-title a {
    color: #951B8A;
  }



  
  .php-tutorial-form {
    width: 100%;
    background: #fff;
  }
  
  .php-tutorial-form .form-group {
    padding-bottom: 8px;
  }
  
  .php-tutorial-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
    border-radius: 3px;
  }
  
  .php-tutorial-form .error-message br+br {
    margin-top: 25px;
  }
  
  .php-tutorial-form .sent-message {
    display: none;
    color: #fff;
    background: #4E0C3A;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .php-tutorial-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .php-tutorial-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #20BEC1;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .php-tutorial-form input,
  .php-tutorial-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
  }
  
  .php-tutorial-form input:focus,
  .php-tutorial-form textarea:focus {
    border-color: #20BEC1;
  }
  
  .php-tutorial-form input {
    height: 44px;
  }
  
  .php-tutorial-form textarea {
    padding: 10px 12px;
  }
  
  .php-tutorial-form button[type=submit] {
    background: #4E0C3A;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .php-tutorial-form button[type=submit]:hover {
    background: #951B8A;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }