.courses .course-item {
    border-radius: 5px;
    border: 1px solid #20BEC1;
  }
  
  .courses .course-content {
    padding: 15px;
  }
  
  .courses .course-content h3 {
    font-weight: 700;
    font-size: 20px;
  }
  
  .courses .course-content h3 a {
    color: #37423b;
    transition: 0.3s;
  }
  
  .courses .course-content h3 a:hover {
    color: #951B8A;
  }
  
  .courses .course-content p {
    font-size: 14px;
    color: #777777;
  }
  
  .courses .course-content h4 {
    font-size: 14px;
    background: #4E0C3A;
    padding: 7px 14px;
    color: #fff;
    margin: 0;
  }
  
  .courses .course-content .price {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    color: #20BEC1;
  }
  
  .courses .trainer {
    padding-top: 15px;
    border-top: 1px solid #20BEC1;
  }
  
  .courses .trainer .trainer-profile img {
    max-width: 50px;
    border-radius: 50px;
  }
  
  .courses .trainer .trainer-profile span {
    padding-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #37423b;
  }
  
  .courses .trainer .trainer-rank {
    font-size: 18px;
    color: #4E0C3A;
  }
  
  /* Course Details */

  .row p{
    text-align: justify;
    line-height: 2;
  }

  #download a{
    color: #4E0C3A;
    margin-left: 2rem;
    line-height: 2;
    background-color: #20BEC1;
    padding: 20px;
    border-radius: 10px;
  }

  #download a:hover{
    color: #20BEC1;
    transition: ease-in 0.3s;
    background-color: #951B8A;
  }
  
  .row a{
    color: #20BEC1;
    margin-left: 2rem;
    line-height: 2;
  }
  .row a:hover{
    color: #951B8A;
    transition: ease-in 0.3s;
  }

  .course-details h3 {
    font-size: 24px;
    margin: 30px 0 15px 0;
    font-weight: 700;
    position: relative;
    padding-bottom: 10px;
  }
  
  .course-details h3:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: #eef0ef;
    bottom: 0;
    left: 0;
  }
  
  .course-details h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 1px;
    background: #20BEC1;
    bottom: 0;
    left: 0;
  }
  
  .course-details .course-info {
    background: #f6f7f6;
    padding: 10px 15px;
    margin-bottom: 15px;
  }
  
  .course-details .course-info h5 {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
  .course-details .course-info p {
    margin: 0;
    font-weight: 600;

  }
  
  .course-details .course-info a {
    color: #657a6d;
  }
  
  /* Course Details Tabs */

  .cource-details-tabs {
    overflow: hidden;
    padding-top: 0;
  }
  
  .cource-details-tabs .nav-tabs {
    border: 0;
  }
  
  .cource-details-tabs .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: #37423b;
    border-radius: 0;
    border-right: 2px solid #e2e7e4;
    font-weight: 600;
    font-size: 15px;
  }
  
  .cource-details-tabs .nav-link:hover {
    color: #951B8A;
  }
  
  .cource-details-tabs .nav-link.active {
    color: #951B8A;
    border-color: #951B8A;
    border-radius: 8px;
  }
  
  .cource-details-tabs .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
  }
  
  .cource-details-tabs .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #37423b;
  }
  
  .cource-details-tabs .details p {
    color: #777777;
    text-align: justify;
  }
  
  .cource-details-tabs .details p:last-child {
    margin-bottom: 0;
  }
  
  @media (max-width: 992px) {
    .cource-details-tabs .nav-link {
      border: 0;
      padding: 15px;
    }
  
    .cource-details-tabs .nav-link.active {
      color: #fff;
      background: #951B8A;
    }
  }